[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
contributing = "*"

[packages]
toml = "*"
flask = "*"
jinja2 = "*"
pymongo = "*"
pysolr = "*"

[requires]
python_version = "3.9"