<!DOCTYPE html>
<html>
    <head>
        <title>KURAT[OR] - {{ message }}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            {% block navbar %}{% endblock %}
            <div class="row gx-5">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <h1>{{ message }}</h1>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
    </body>
</html>