{% include 'navbar.html' %}
<!DOCTYPE html>
<html>
    <head>
        {% if list_type == 'collection' %}
        <title>KURAT[OR] - My {{ console }} Collection</title>
        {% elif list_type == 'wishlist' %}
        <title>KURAT[OR] - My {{ console }} Wishlist</title>
        {% elif list_type == 'ordered' %}
        <title>KURAT[OR] - My {{ console }} Backorders</title>
        {% else %}
        <title></title>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            {% block nav1 %}{% endblock %}
            <div class="row gx-5">
                <div class="col-sm"></div>
                <div class="col-sm">
                    {% if list_type == 'collection' %}
                    <h1>My {{ console }} Collection</h1>
                    {% elif list_type == 'wishlist' %}
                    <h1>My {{ console }} Wishlist</h1>
                    {% elif list_type == 'ordered' %}
                    <h1>My {{ console }} Backorders</h1>
                    {% else %}
                    <h1>SOMETHING IS WRONG</h1>
                    {% endif %}
                </div>
                <div class="col-sm"></div>
            </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <table class='table table-dark'>
                        <thead class='thead-light'>
                            <tr>
                                <th scope="col">Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in game_list %}
                                <tr>
                                    <td>{{ item }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
    </body>
</html>