{% include 'navbar.html' %}
{% include 'title_generate.html' %}
<!DOCTYPE html>
<html>
    <head>
        {% block title %}{% endblock %}
        <link rel="shortcut icon" href="https://kurator-public-assets.nyc3.digitaloceanspaces.com/Logo-Black.svg" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="container-fluid">
            {% block nav1 %}{% endblock %}
            <div class="container-sm">
                <div class="row gx-5">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        {% if list_type == 'collection' %}
                        <h1>My Collection</h1>
                        {% elif list_type == 'wishlist' %}
                        <h1>My Wishlist</h1>
                        {% elif list_type == 'ordered' %}
                        <h1>My Backorders</h1>
                        {% else %}
                        <h1>SOMETHING IS WRONG</h1>
                        {% endif %}
                    </div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class='table table-bordered'>
                                <thead class='thead-light'>
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Platform</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in game_list %}
                                        <tr>
                                            <td>{{ item[0] }}</td>
                                            <td>{{ item[1] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
            <footer class="page-footer font-small special-color-dark pt4 fixed-bottom" style="background-color: black; color:gray;">
                <div class="footer-copyright text-center py-3">
                    © 2020 Copyright: <a href="https://retroreplaycanada.com/">Retro Replay Canada</a> | Design by <a href="https://boxingoctop.us">Boxing Octopus Creative</a>
                </div>
            </footer>
        </div>
    </body>
</html>